@media screen and (min-width: 240px) and (max-width: 349px) {

}

/* Smartphones */
@media only screen and (min-width: 350px) and (max-width: 767px) {

}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {

}

/* Small desktops */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

}
  
/* Medium-sized desktops */
@media only screen and (min-width: 1200px) and (max-width: 1439px) {

}

/* Large desktops */
@media only screen and (min-width: 1440px) {
    /* Your CSS for large desktops here */
}


@media screen and (max-width: 300px) {
}

@media screen and (max-width: 992px) {
    .work_section {
        display: flex;
        flex-direction: column;
    }
    .about_text {
        font-size: 1.2em;
    }
    .cta_section {
        max-width: 90%;
    }
    .about_image {
        margin: auto;
        display: block;
    }
    .services_div {
        margin-top: 1em;
    }
    .footer_logo img {
        max-width: 100%;
    }
    .footer_logo_title {
        font-size: 1.2em;
    }
    .cta_title {
        font-size: 1.2em;
    }
    .cta_subtitle {
        font-size: 1em;
        margin-top: 1em;
    }
    .cta_social-icons {
        flex-direction: column;
    }
    .cta_additional-info {
        font-size: .7em;
    }
    .featured_work span {
        font-size: 12px;
    }

} 