/* Reset CSS */

/* Box-sizing border-box for all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default list styles */
ul, ol {
  list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Remove default margin and padding for certain elements */
body,
h1, h2, h3, h4, h5, h6,
p,
ul, ol,
blockquote,
figure,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
select {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
}

.row {
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100%;
}

/*
Black - #0b0c13
Purple - #601de6
Whiteish - #e4ddf2
Blueish - #3c149c
Greyish - #a5a0b3
*/

/* Additions */
.highlight {
    color:#3498DB;
    font-weight: bolder;
    text-decoration: underline;
}

.divider {
    height: 2px;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* NAVBAR */
.navbar {
    display: none;
    background-color: #fff !important;
    position: fixed;
    width: 100%;
    z-index: 99;
}
.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.nav-link:hover {
    border-bottom: 2px solid #5b576f;
}


/* HERO SECTION */

.hero {
    height: 90vh;
    background: url('images/hero_image.webp');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_section {
    background-color: #5b576f;
    padding: 2em;
    border-radius: 20px;
}

.hero_section .hero_title {
    color: #eae7f1;
    font-size: 2em;
}
.hero_subtitle {
    color: #eae7f1;
    font-size: 1em;
}
.hero_text {
    color: #eae7f1;
    font-size: .5em;
}

/* ABOUT */

.about_container .about_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about_text {
    font-size: 1.5em;
}

.about_image {
    max-width: 80%;
    border-radius: 25px;
    box-shadow: 2px 5px 2px #5b576f;
}

/* SERVICES */

.service_card {
    display: flex;
    flex-direction: column;
}

.services_title {
    color: #5b576f;
    font-size: 1.5em;
}
.services_image {
    max-width: 50%;
    margin: auto;
    display: block;
}
.services_left {
    /*background: #5b576f;*/
    border: 2px solid #5b576f;
    padding: 1em;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 100%;
    background-color: #fff;
}

.services_left:hover {
    box-shadow: 0.3em .5em 1em #eae7f1;
}

/* SKILLS */

.skills_container {
    background-color: #fff;
    padding: 3em;
    border: 1px solid #5b576f;
    box-shadow: 0.3em .5em 1em #eae7f1;
}

.skills_container .col-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills_container svg {
    font-size: 5em;
}

.skills_div {
    display: flex;
    justify-content: center;
}

/* WORK CONTAINER */
.work_container {
    display: flex;
    justify-content: space-evenly;
}

.work_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}  

.featured_work {
    border: 1px solid #5b576f;
    padding: 2em;
    box-shadow: 0.3em .5em 1em #eae7f1;
    border-radius: 25px;
    height: 100%;
    background: #fff;
}
.featured_work:hover {
    box-shadow: 0.3em .5em 1em #5b576f;
}

.featured_work span {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.featured_image {
    max-width: 100%;
}

/* CTA */
.cta {
    height: 100%;
    padding-top: 5em;
    padding-bottom: 5em;
    display: grid;
    align-content: center;
    background-image: url('images/blur_2.png');
    background-size: 700px;
    background-position: center;
    background-repeat: repeat;
}

.cta_section {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
    margin: 0 auto;
    max-width: 50%;
    box-shadow: 5px 5px 5px #0b0c13;
    border-radius: 20px;
  }
  
  .cta_title {
    font-size: 2.5rem;
    letter-spacing: 3px;
    line-height: 1.5;
  }
  
  .cta_subtitle {
    font-size: 1.2rem;
    margin-bottom: 2em;
  }
  
  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #0b0c13;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    font-weight: bold;
  }
  
  .cta-button:hover {
    background-color: #e4ddf2;
    color: #0b0c13;
  }

  .form .form-group {
    margin-bottom: 1em;
  }
  .form .form-control {
    border: 1px solid #5b576f;
  }
  .cta_additional-info {
    font-size: 0.9rem;
    margin-top: 1em;
  }
  
  .cta_contact-info {
    margin-top: 20px;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .cta_social-icons {
    margin-top: 20px;
    /* Style your social icons */
    display: flex;
    justify-content: space-evenly;
    background-color: #eae7f1;
    padding: 1em;
    border-radius: 50px;
}

  
  .cta_social-icons .bi {
    font-size: 3.5em;
  }

  .bi:hover {
    font-size: 3.2em;
  }

  .bi-facebook {
    color: #316FF6;
}

.bi-linkedin {
    color: #0077b5;
}

.bi-github {
    color: #0b0c13;
}

.bi-envelope-at-fill {
    color: red;
}

/* FOOTeR */
.footer {
    display: flex;
    justify-content: center;
    background: #fff;
    box-shadow: 0.3em .5em 1em #eae7f1;
}
.footer_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.footer_logo img {
    display: block;
    margin: auto;
}