html, body {
    height: auto;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

/* Icon colors */
.fa-html5 {
    color: #f16529;
}

.fa-css3-alt {
    color: #1572b6;
}

.fa-bootstrap {
    color: #7911f8;
}

.fa-square-js {
    color: #f0db4f;
}

.fa-vuejs {
    color: #41b883;
}

.fa-react {
    color: #61dafb;
}

.fa-node {
    color: #333333;
}

.fa-python {
    color: #3b78a8;
}

.skill-icons {
    height: 65px;
    padding: 1em;
    max-width: 100%;
}

/* Navbar CSS */
.navbar {
    padding: 0;
    position: fixed;
    display: none;
    width: 100%;
    z-index: 99;
    border: none;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #080D19;
    z-index: 99;
}

.nav-item {
    padding: 0;
    margin: 0;
    height: 100%;
}

.nav-brand {
    padding: 0;
}

.nav-link {
    color: #f2f2f2;
    font-weight: bold;
}
.nav-link:hover {
    background-color: #f2f2f2;
    color: #080D19;
}

.logo {
    width: 70px;
}

/* Header CSS */

.header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('images/computer_1.png');
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: top;
}

.header-title {
    margin-top: 20%;
    color: #080D19;
    font-weight: bold;
}
.header-text {
    color: #080D19;
    font-weight: bold;
}

/* Hero */
.hero-section {
    height: 100vh;
}


/* About CSS*/
.about {
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    border: 20px inset #080D19;
    /* background: linear-gradient(to right, #080D19 50%, #f2f2f2 50%) */
}

.about-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2%;
    /* background: linear-gradient(to bottom, rgba(242, 242, 242, 1) 30%, rgba(8, 13, 25, .3) 70%); */
}

.about-header_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 70%; */
    color: #080D19;
    padding: 1.5em;
    /* border: 10px inset #080D19; */
    
}

.about-header_image img {
    max-width: 50%;
    display: block;
    margin: auto;
    border: 10px inset #f2f2f2;
    border-radius: 20px;
}


.about-content {
    display: flex;
    flex-direction: row;
    height: 100%;
    
}

.about-content_info {
    border: 2px outset #080D19;
    border-bottom: 10px outset #080D19;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: rgba(242, 242, 242, .5)
}

.about-content_info .about-content_text {
    padding: .5em;
}

.about-content_slogan h4 {
    padding: .5em;
    border-top: 5px solid #080D19;
    border-bottom: 5px solid #080D19;
}


.parallax {
    height: 300px;
    background: linear-gradient(to bottom left, rgba(8, 13, 25, 1) 50%, rgba(242, 242, 242, 1) 30%);
    background-attachment: fixed;
    background-position: center;
} 

.parallax-1 {
    height: 300px;
    background: linear-gradient(to top right, rgba(8, 13, 25, 1) 50%, rgba(242, 242, 242, 1) 30%);
    background-attachment: fixed;
    background-position: center;
}

.parallax-2 {
    height: 300px;
    background: linear-gradient(to bottom right, rgba(8, 13, 25, 1) 50%, rgba(242, 242, 242, 1) 30%);
    background-attachment: fixed;
    background-position: center;
}

/* Services */
.services {
    height: 100vh;
    border: 20px inset #080D19;
}

.services-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-content_main {
    display: flex;
    flex-direction: row;
}

.services-content_cards {
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
}

.services-content_cards .card {
    border: 2px inset rgba(8, 13, 25, 1);
    border-bottom: 10px outset rgba(8, 13, 25, 1);
    height: 100%;
    background: rgba(242, 242, 242, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em;
}

.services-content_cards .card-body {
    width: 100%;
}

.services-content_cards .card-header {
    background: transparent;
    border: none;
}

.card-image img {
    display: block;
    margin: auto;
    max-width: 50%;
}

.skills {
    width: 100%;
    height: 100%;
}

.skills-header {
    display: flex;
    justify-content: center;
}

.col-header_title {
    border-bottom: 5px outset #080D19;
    padding: .5em;
}

.skills-content_box {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 5px solid #080D19;
    border-bottom: 10px outset #080D19;
}

.skills-content_info {
    height: 100px;
    border-right: 5px inset #080D19;
    /* padding: 1em; */
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #080D19;
    color: #f2f2f2;
    
}

.skills-content_info-title {
    word-wrap: break-word;
}

.skills-content_info-text {
    word-wrap: break-word;
    padding-left: 10px;
    padding-right: 10px;
}

.skills-content_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2em;
    /* width: 50%; */
}

.wd-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.wd-box .skills-body_box {
    height: 50%;
    display: flex;
    flex-direction: column;
}
.back-box .skill-icons {
    height: 80px;
}

.front-box .fa-brands {
    font-size: 2.5em;
}

.design-box .skill-icons, .editor-box .skill-icons {
    height: 80px;
}

.database-box .skill-icons {
    height: 150px;
    display: block;
    margin: auto;
}

.design-box .fa-brands {
    font-size: 4em;
}

.python-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.python-box .progress {
    margin: 10px;
    height: 50px;
    width: 100%;
}

.technical-box .skills-content_body {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.clickup {
    height: 120px;
}

.hubspot {
    height: 70px;
}

.technical-box .skills-body_box {
    width: 100%;
    padding: 1em;
}

.technical-box .skills-body_box:nth-child(-n + 2) {
    border-bottom: 5px outset #080D19;
}

.technical-box .skills-body_box-main {
    align-items: center;
}



.skills-body_box-main i {
    font-size: 2em;
    padding: 1em;
}

.skills-body_box-main {
    display: flex;
    justify-content: center;
}

.languages .skill-icons {
    height: 100px;
}

.my-border {
    border: 2px outset #080D19;
    border-bottom: 5px outset #080D19;
}


.box-header {
    display: flex;
    justify-content: center;
    padding: 1em;
    width: 100%;
}

.web-box, .app-box, .soft-box {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.web-box-header h1 {
    padding: 1em;
    text-align: center;
}

.web-box-content {
    display: flex;
    justify-content: space-evenly;
}

.app-box-content {
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.skill-list {
    width: 100%;
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 0pc;
}

.skill-list-item {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
}

.skill-list-item .fa-brands {
    font-size: 3em;
    width: 150px;
    display: flex;
    padding: 5px;
    justify-content: center;
}

.list-title {
    text-align: center;
    font-weight: bold;
}

.box-list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}


.web-title {
    text-align: center;
}
.front-end, .back-end, .version {
    border: 2px outset #080D19;
    width: 100%;
    margin: 1em;
}
.app-dev {
    border: 2px outset #080D19;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.progress {
    height: 30px;
    width: 50%;
}

.icons {
    height: 70px;
    display: flex;
    padding: 5px;
    justify-content: center;
}

.html5 {
    color: #cc0000;
}
.css3 {
    color: #0066cc;
}
.js {
    color: #e6e600;
}

.vuejs {
    color: #4DBA87;
}

.reactjs {
    color: #00D8FF;
}

.bootstrap {
    color: #8812FC;
}

.php {
    color: #777BB3;
}

.fa-sass {
    color: #CD6799;
}

.fa-ubuntu {
    color: #DD4814;
}
.debian {
    height: 58px;
}

.fa-git {
    color: #F05033;
}

.fa-windows {
    color: #0066cc;
}

.work {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.work .box-header {
    margin-top: 5%;
}
.project-title {
    text-align: center;
    font-weight: bold;
}

.project-img {
    max-width: 100%;
    border: 2px solid #080D19;
    border-bottom: 10px outset #080D19;
}

.project-img:hover {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.4)!important;
}

.work .fa-github {
    color: #080D19;
}

.contact {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    /* background: url('images/contact.png');
    background-repeat: no-repeat;
    background-position: bottom right; */
}

.contact-form {
    width: 50%;
}

.contact-social {
    width: 50%;
}


.form-group input, .form-group textarea {
    border: 2px solid #080D19;
    border-bottom: 10px outset #080D19;
    padding: 1em;
    resize: none;
}

.form-buttons {
    display: flex;
    justify-content: center;
}

.form-buttons .btn {
    width: 100%;
    height: 50px;
    border-bottom: 5px outset #080D19;
}


.social-links {
    display: flex;
    justify-content: space-evenly;
}

.social-links .fa-brands, .social-links .fa-envelope {
    font-size: 3.5em;
    text-shadow: 1px 1px #080D19;
}

.social-links .fa-linkedin {
    color: #0077B7;
}

.social-links .fa-square-facebook {
    color: #3A559F;
}

.social-links .fa-envelope {
    color: #F14336;
}

.social-links .fa-github {
    color: #000;
}

.social-links .fa-brands:hover, .social-links .fa-envelope:hover {
    opacity: .5;
}

.footer {
    width: 100%;
    height: 20vh;
    border-top: 2px inset #080D19;
}

.footer-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2%;
}

.footer-quote {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.footer-picture {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 2%;
}
.footer-logo {
    width: 200px;
}

.blockquote {
    margin: 0;
    margin-left: 10px;
    font-size: 1em;
}

.blockquote-footer {
    display: flex;
    justify-content: flex-end;
}

.copyrights {
    height: 50px;
    width: 100%;
    background-color: #080D19;
    color: #f2f2f2;
    padding: 1em;
    text-align: center;
    position: absolute;
}

#map { 
    width: 100%;
    height: 100%; 
}

.footer-map {
    width: 100%;
    height: 100%; 
}


@keyframes stripes {
    0% { width: 10%;}
    100% { width: 100%;}
}

@media screen and (max-width: 546px){
    .header {
        background-size: 100%;
        text-align: center;
    }
    .about-content_info {
        width: 90%;
    }
    .about-content_slogan {
        padding-right: 10px;
        padding-left: 10px;
        text-align: center;
    }
    .about-content_text {
        font-size: 1em !important;
    }
    .services .card-header {
        text-align: center;
    }
    .services {
        height: 100%;
    }
    .services-content_cards h4 {
        font-size: 1em !important;
        word-wrap: break-word;
    }
    .wd-box {
        height: 100%;
        flex-direction: column;
    }

    .wd-box .back-box {
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .wd-box .skills-body_box-main {
        margin-top: 0 !important;
    }
    .wd-box .skills-body_box-main img {
        max-width: 50%;
        height: 60%;
    }
    .database-box  .skill-icons{
        /* flex-direction: column; */
        height: 120px;
    }
    .skills-content_info-title {
        font-size: 1.2em !important;
        word-wrap: break-word;
        text-align: center;
    }
    .hosting-box .skill-icons {
        max-width: 40%;
        height: 60px;
    }
    .work {
        padding-top: 2%;
        margin-bottom: 2%;
        background: none;
    }

    .work-box {
        margin-top: 5%;
    }
    .contact {
        height: 100%;
        margin-top: 10%;
        flex-direction: column;
    }
    .contact-form {
        width: 100%;
    }
    .contact-social {
        width: 100%;
    }
    .footer {
        height: 100%;
    }
    .footer-content {
        flex-direction: column;
    }
    #map { 
        width: 100%;
        height: 200px; 
    }
}

@media screen and (min-width: 547px) and (max-width: 767px) {
    /* Styles for mobile devices */
    .header {
        background-size: 80%;
        text-align: center;
    }
    .about-content_info {
        width: 90%;
    }
    .about-content_slogan {
        padding-right: 10px;
        padding-left: 10px;
        text-align: center;
    }
    .about-content_text {
        font-size: 1em !important;
    }
    .services .card-header {
        text-align: center;
    }
    .services {
        height: 100%;
    }
    .wd-box {
        height: 100%;
        flex-direction: column;
    }

    .wd-box .back-box {
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .database-box  .skill-icons{
        /* flex-direction: column; */
        height: 150px;
    }
    .skills-content_info-title {
        font-size: 1.2em !important;
        word-wrap: break-word;
    }
    .hosting-box .skill-icons {
        max-width: 40%;
        height: 60px;
    }
    .work {
        padding-top: 2%;
        margin-bottom: 2%;
        background: none;
    }

    .work .box-header {
        margin-top: 5%;
    }

    .work-box {
        margin-top: 5%;
    }
    .contact {
        height: 100%;
        margin-top: 15%;
        flex-direction: column;
    }
    .contact-form {
        width: 100%;
    }
    .contact-social {
        width: 100%;
    }
    .blockquote p {
        font-size: 16px !important;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    /* Styles for tablets and small laptops */
    .header {
        background-size: 75%;
        text-align: center;
    }
    .about-content_info {
        width: 90%;
    }
    .about-content_slogan {
        padding-right: 10px;
        padding-left: 10px;
        text-align: center;
    }
    .services .card-header {
        text-align: center;
    }
    .services {
        height: 100%;
    }
    .wd-box {
        height: 100%;
        flex-direction: column;
    }

    .wd-box .back-box {
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .skills-content_info-title {
        font-size: 1.2em !important;
        word-wrap: break-word;
    }
    .database-box, .editor-box {
        flex-direction: column;
    }
    .database-box .skill-icons {
        max-width: 60%;
        height: 20%;
    }
    .editor-box .skill-icons {
        max-width: 100%;
        display: block;
        margin: auto;
    }
    .blockquote p {
        font-size: 16px !important;
    }

    .work .project-title {
        font-size: 1.5em;
    }


}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    /* Styles for standard laptops and desktops */
    .services .card-header {
        padding: 0;
    }
    .wd-box {
        height: 100%;
        flex-direction: column;
    }

    .wd-box .back-box {
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .skills-content_info-title {
        font-size: 1.2em !important;
        word-wrap: break-word;
    }

}

@media screen and (min-width: 1200px) {
    /* Styles for large desktops */

}
  
  



@media screen and (orientation: landscape) {
    /* Styles for landscape orientation */
  }


/*

background -> #f2f2f2
text -> #080D19
text 2 -> #f2f2f2
other -> #1D4CB0
might use this -> #2DA2EC

*/